In [7]:
import pandas as pd
from plotting import CandlePlot
pd.set_option("display.max_columns", None)

In [8]:
df_ma_res = pd.read_pickle("../data/ma_res.pkl")
df_ma_trades = pd.read_pickle("../data/ma_trades.pkl")

In [13]:
df_ma_res.granularity.unique()

array(['H1', 'H4'], dtype=object)

In [15]:
df_ma_res_h1 = df_ma_res[df_ma_res.granularity =="H1"].copy()
df_ma_trades_h1 = df_ma_trades[df_ma_trades.granularity =="H1"].copy()

In [17]:
df_cross_summary = df_ma_res_h1[['pair', 'num_trades', 'total_gain', 'cross']].copy()

In [27]:
df_cross_gr = df_cross_summary.groupby(by = "cross", as_index=False).sum(numeric_only=True)
df_cross_gr.sort_values(by='total_gain', ascending=False, inplace=True)

In [29]:
df_cross_gr.head()

         cross  num_trades  total_gain
2   MA_10MA_20        3148        9706
7   MA_20MA_40        1499        9593
3   MA_10MA_40        1706        9469
11  MA_30MA_40        1690        9384
4   MA_10MA_80        1119        8588

In [30]:
len(df_ma_res_h1.pair.unique()

array(['EUR_USD', 'EUR_GBP', 'EUR_JPY', 'EUR_AUD', 'EUR_CAD', 'USD_JPY',
       'USD_CAD', 'GBP_USD', 'GBP_JPY', 'GBP_AUD', 'GBP_CAD', 'AUD_USD',
       'AUD_JPY', 'AUD_CAD', 'CAD_JPY'], dtype=object)